header {
  border-radius: 10px;
  text-align: center;
  background-color: #f8f4f5;
  margin-top: 60px;
}

h1 {
  font-size: 64px;
  margin-top: 40px;
  font-family: "Grenze Gotisch", serif;
}

form {
  font-size: 24px;
  margin-top: 40px;
}

.search, .submit {
  border-radius: 10px;
  padding: 10px 20px 12px;
}

.search{
  width: 60%;
}

.submit{
  background-color: #565d7e;
  color: azure;
  width: 20%;
}
