.results {
  margin: 5px;
}

.results h2 {
color: azure;
}

.phonetics {
  color: azure;
  letter-spacing: 5px;
}

.error-message {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  margin-top: 20px;
}

.error-message p{
color: azure;
}

.error-message h2 {
  color: red;
  font-size: 48px;
}